In [5]:
#series object is one-dimensional labeled array

import pandas as pd
s1=pd.Series([1,2,3,4,4])
print(s1)
type(s1)

0    1
1    2
2    3
3    4
4    4
dtype: int64

pandas.core.series.Series

In [6]:
l1=[1,2,3,4,5]
s1=pd.Series(l1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#changing index 
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
s3=pd.Series([1,2,3,4,5,6],index=['m','a','n','a','s','h'])
s3

m    1
a    2
n    3
a    4
s    5
h    6
dtype: int64

In [13]:
#series object from dictionaries

s4=pd.Series({'a':100,'b':200,'c':300})
s4

a    100
b    200
c    300
dtype: int64

In [15]:
#changing index position of dictionaries

a={"a":100,"b":200,"c":300}
s5=pd.Series(a,index=['c','d','a','b','f'])
s5

c    300.0
d      NaN
a    100.0
b    200.0
f      NaN
dtype: float64

# extracting individual elements

In [27]:
#extracting a signal elements
list=[1,2,3,4,5,6,7,8]
p1=pd.Series(list)
p1[7]

8

In [34]:
#extracting  a sequence of elements

p2=pd.Series(list)
p2[:-4]

0    1
1    2
2    3
3    4
dtype: int64

Basic Math Opertion on Series

In [36]:
p1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
dtype: int64

In [38]:
q1=pd.Series([1,2,3,4,5,6])
q2=pd.Series([100,200,300,400,500,600])
q2-q1

0     99
1    198
2    297
3    396
4    495
5    594
dtype: int64